@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f6f6;
  margin: 0;
}

.container {
  margin: 120px auto 0 auto;
  height: 4000px;
}

a {
  text-decoration: none;
  
}

.center-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: 'translate(-50%, -50%)';
}

.list-widget {
  height: 400px;
}